pre.code {
    background-color: #222222;
    color: lightgrey;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #080808;
    display: inline-block;
}

code.code {
    background-color: #222222;
    color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #080808;
    display: block;
    text-align: left;
}

.fn { color: rgb(38, 163, 65); }
.st { color: rgb(68, 205, 212); }
.op { color: rgb(153, 153, 153); }
.kw { color: rgb(214, 201, 83); }
.cm { color: rgb(212, 161, 4); }
.pr { color: rgb(224, 162, 224); }
